.loading-container {
  padding: 25px;
  text-align: center;
}

.loading {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &--circular-progress {
    padding: 25px;
    text-align: center
  }
}