// Colors
$background-gray: #121212;
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;

// Spacing
$s-spacing: .75rem;
$m-spacing: 1rem;
$l-spacing: 2rem;
$xl-spacing: 3rem;
$desktop-breakpoint: 45rem;
